.beer-coaster > div {
  width: 150px;
  height: 150px;
  transition: 0.3s;
  border-radius: 50px;
  border: 5px;
  padding: 45px;
  background-color: goldenrod;
  border-color: black;
  list-style: none;
  background-image: url(../beer-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: 135px 135px;
  background-position: 50%;
  margin: 15px;
}
#list {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.beer-coaster h3 {
  font-size: 35px;
  color: gainsboro;
  text-shadow: 2px 2px 4px #000000;
}

.beer-coaster > div:hover {
  opacity: 60%;
}
button {
  background-color: transparent;
}

.beer-coaster div ul li {
  list-style: none;
}
ul {
  list-style-type: none;
}
