/* input container for 2nd and 3rd webpages */
header {
    display: fill;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: flex;
    border: 1px solid gainsboro;
    border-radius: 10px;
    content: fill;
  }
  
  .search-bar input {
    align-items: center;
    padding: auto;
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: none;
  
  }
  
  .search-bar button {
    display: center;
  }
  
  .center-header-text {
    color: rgb(252, 247, 238);
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
    /* margin-left: 10%; */
  }
  
  