body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 0.9em;
}
/* background image for main page */
.background-img {
  background-image: url("../images/beer-glass-bkg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;

}

/* background img for nav-bar */
.header-bkg-img {
  background-image: url("../images/beer-glass-bkg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

/* styles for search bar and it's contents */
.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 20px 14px;
  font-size: 20px;
  color: #cac7ff;
  height: 50%;
}

.search-bar button img {
  width: 25px;
}

::placeholder {
  color: #cac7ff;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent;
  
}

.search-bar:hover {
  box-shadow: 0 0 10px 0 gainsboro;
}

a {
  margin: 5px;
  text-decoration: none;
  color: goldenrod;
  font-size: 16px;
}
a:hover {
  box-shadow: 0 0 10px 0 gainsboro;
  text-decoration: underline;
}
/*sets the about me and contact anchor tags to the right */
nav {
  display: flex;
  justify-content: space-between;
}
/* This is to align the icons and text */
.header-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-right: 10px;
}
/* targets any anchors, ul's and img's */
ul > a,
ul > img {
  padding: 0 8px;
}

.header-img:hover {
  box-shadow: 0 0 10px 0 gainsboro;
  border-radius: 20px;
}
/* allows us to stack items in section using flex-direction */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}
/* em stands for emphemeral unitâ€ which is relative to the current font size */
/* NEED TO ADD CUSTOM FONT CLASS LATER DOWN THE LINE TOO BLAND CURRENTLY */
h1 {
  color: goldenrod;
  font-size: 5.5em;
  text-shadow: 0 0 10px 0 gainsboro;
}
.my-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 44px;

}
/* targets specific input element within class */
.my-input-container > input {
  flex-grow: 1;
  border: none;
  outline: none;
}
.my-input-container > img {
  padding: 0 0 0 20px;
}
img {
  cursor: pointer;
  width: 15px;
}
.search-button {
  padding-top: 53px;
}
button {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  height: 36px;
  padding: 0 20px;
  margin: 0 4px;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 gainsboro;
}
.beer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding: 0 25px;
  width: 85px;
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0vh;
}
.my-input-container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 44px;
  border: 1px solid gainsboro;
  border-radius: 30px;
}
.my-input-container2:hover {
  box-shadow: 0 0 10px 0 gainsboro;
}
/* targets specific input element within class */
.my-input-container2 > input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: goldenrod;
  text-indent: 15px;
  color: black;
}
.my-input-container > input > ::placeholder {
  color: black;
}
.my-input-container2 > img {
  padding: 0 0 0 20px;
}
