body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 0.9em;
}

a {
  margin: 5px;
  text-decoration: none;
  color: black;
}

a:hover {
  box-shadow: 0 0 10px 0 gainsboro;
  text-decoration: underline;
}

/*sets the about me and contact anchor tags to the right */
nav {
  display: flex;
  justify-content: space-between;
  background-color: goldenrod;
}

/* This is to align the icons and text */
.header-nav {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-right: 10px;
}

/* targets any anchors, ul's and img's */
ul > a,
ul > img {
  padding: 0 8px;
  list-style: none;
}

.header-img:hover {
  box-shadow: 0 0 10px 0 gainsboro;
  border-radius: 20px;
}

/* allows us to stack items in section using flex-direction */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

/* em stands for emphemeral unitâ€ which is relative to the current font size */
/* NEED TO ADD CUSTOM FONT CLASS LATER DOWN THE LINE TOO BLAND CURRENTLY */
h1 {
  color: goldenrod;
  font-size: 5.5em;
}

.my-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 44px;
  border: 1px solid gainsboro;
  border-radius: 20px;
}

.my-input-container:hover {
  box-shadow: 0 0 10px 0 gainsboro;
}

/* targets specific input element within class */
.my-input-container > input {
  flex-grow: 1;
  border: none;
  outline: none;
}

.my-input-container > img {
  padding: 0 0 0 20px;
}

img {
  cursor: pointer;
  width: 15px;
}

.search-button {
  padding-top: 53px;
}

button {
  background-color: #f8f9fa;
  border-radius: 5px;
  border: none;
  height: 36px;
  padding: 0 20px;
  margin: 0 4px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 gainsboro;
}

.beer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0 25px;
  width: 85px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0vh;
}

.my-input-container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 44px;
  border: 1px solid gainsboro;
  border-radius: 30px;
}

.my-input-container2:hover {
  box-shadow: 0 0 10px 0 gainsboro;
}

/* targets specific input element within class */
.my-input-container2 > input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: goldenrod;
  text-indent: 15px;
  color: black;
}

.my-input-container > input > ::placeholder {
  color: black;
}

.my-input-container2 > img {
  padding: 0 0 0 20px;
}

.brewery-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*.beer-coaster > div{
  width: 100px;
  transition: 0.3s;
  border-radius: 50px;
  border: 5px;
  padding: 45px;
  background-color: goldenrod;
  border-color: black; */
  /* background-image: url("../beer-svgrepo-com.svg"); */

/* }


.beer-coaster{
  width: 100px;
  transition: 0.3s;
  border-radius: 50px;
  border: 5px;
  padding: 45px;
  background-color: goldenrod;
  border-color: black;
  position: relative;
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .beer-coaster{
  
  content: "";
  background-image: url("../beer-svgrepo-com.svg");
  background-size: cover;
  position: absolute;
  opacity: .75;
} */

/* .beer-coaster p {
  color: white;
} */ */

button {
  background-color: transparent;
 
}
.beer-coaster > div:hover {
  width: 110px;
}